{% extends "base.html.twig" %}

{% block title %}{{ parent() }} Gestion des utilisateurs{% endblock %}

{% block contenu %}

    <form class="form-inline d-flex justify-content-center md-form form-sm active-purple active-purple-2 mt-2">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Rechercher un utilisateur..." aria-label="Search">
    </form>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Date d'inscription</th>
                    <th scope="col">Administration</th>
                </tr>
            </thead>

            <tbody>
                {% for utilisateurs in userList %}
                    <tr>
                        <td>{{utilisateurs.id}}</td>
                        <td>{{utilisateurs.nom}}</td>
                        <td>{{utilisateurs.prenom}}</td>
                        <td>{{utilisateurs.email}}</td>
                        <td>{{utilisateurs.idRole}}</td>
                        <td>{{utilisateurs.dateInscription}}</td>
                        <td>Modifier Supprimer</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}